body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    color: whitesmoke;
    background-color: rgba(9, 14, 17);
    display: flex;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    width: 540px;
    height: 540px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: solid black 1px;
    color: rgba(9, 14, 17);
    font-size: 4em;
}

.x .key:hover::after{
    content: 'x';
}

.o .key:hover::after{
    content: 'o';
}

.key:hover{
    background-color: rgb(205, 205, 205);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}